<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970644724732-esnvtquitg9q0bgrvhe5baia4p2dkdg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970644724732-esnvtquitg9q0bgrvhe5baia4p2dkdg0</string>
	<key>API_KEY</key>
	<string>AIzaSyAD9Qr08oqNICE_MkVdm1AECV_PnmAw9eI</string>
	<key>GCM_SENDER_ID</key>
	<string>970644724732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mighty.vpn</string>
	<key>PROJECT_ID</key>
	<string>mightyvpnapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mightyvpnapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970644724732:ios:fc44f3bf9046f31a2cb079</string>
</dict>
</plist>